*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main start   */
main{
    width: 100%;
    /* border: 1px solid green; */
}

/* header start   */
header{
    width: 1200px;
    height: 100px;
    /* border: 1px solid gray; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo  */
header .logo{
    width: 60px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* logo end   */

/* searchbar start   */
header .searchbar{
    width: 300px;
    height: fit-content;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

header .searchbar .search{
    height: 30px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid gray;
}

header .searchbar .btn{
    height: 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 30px;
    padding: 0px 20px;
}
/* searchbar end   */

/* navigation start   */
nav ul{
    list-style: none;
}
/* navigation end   */

/* .harmburger start  */
.harmburger{
    display: none;
}
/* .harmburger end   */
/* sidebar  start  */
.sidebar{
    position: fixed;
    top: 0px;
    right:  0px;
    width: 200px;
    height: 200px;
    animation-name: sam;
    animation-duration: 1s;
    animation-iteration-count: 1;
    flex-basis: 300px;
    z-index: 4;
}


@keyframes sam {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
.sidebar ul li a{
    color: white;
}

.btn-2{
    font-size: 20px;
    padding-right: 10px;
}
/* sidebar end  */
/* header end   */

/* Slider start  */
.slider{
    width: 1200px;
    height: 550px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.swiper{
    width: 1200px;
    /* border: 1px solid red; */
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    height: 500px;
}
.swiper .swiper-button-prev , .swiper .swiper-button-next{
    color:white;
}
.swiper .swiper-pagination-bullet-active{
 background-color: white;
}

/* header start for small device  */
@media screen and (max-width:576px){
    /* header start  */
    /* header end  */
    header{
        width: 1000px;
        /* border: 1px solid red; */
    }
    /* navigation start  */
    nav{
        display: none;
    }
    /* navigation end   */
     /* harmburger start   */
     header .harmburger{
       display: block;
     }

     /* logo start  */
     header .logo{
         margin-left: 20px;
     }
     /* logo end  */
     /* searchbar start   */
     header .searchbar .search{
         width: 150px;
     }
     /* header end   */

     /* slider start   */
     .slider{
         width: 1000px;
     }
     .slider .swiper{
         width: 1000px;
     }

     
}

@media screen and (max-width:300px){
    header{
        width: 600px;
    }
    .searchbar{
        width: 300px;
    }
    .searchbar .search{
        width: 40px;
    }
    .searchbar .btn{
        padding: 0px 10px;
    }

    .slider{
        width: 600px;
    }
    .slider .swiper{
        width: 600px;
    }
}





